html, body {
    background-color: #222;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

#display {
    background-color: #000;
}
